#about-img{
    width:100%;
    height:500px;
    filter: brightness(50%);
}
#img-text{
    text-align:center;
    bottom:50%;
    left:30%;
    position:absolute;
    font-size:150px;
    color:white;
}
#del{
    width:600px;
    height:500px;
    float:right;
}
#letsfood{
    font-family: 'Poppins', sans-serif;
}
#about-card{
    border:3px solid black;
    width:300px;
    height:400px;
    margin-left:100px;
    font-family: 'Poppins', sans-serif;
}
#backgr{
    width:300px;
    height:150px;
    background-color:  rgb(176, 224, 143);
}
#rounded-img{
    border-radius:50%;
    width:150px;
    height:150px;
    margin-left:65px;
    
}
#hole{
    display:flex;
    gap:4rem;
}