h2{
    font-family: 'Bangers', cursive;
  }
  /* body{
    background-repeat: no-repeat;
    
  } */
  #backg{
    max-width: 100%;
    max-height: 1300px;
    padding: 38px;

  }
  /* .sty{
    font-family: 'IBM Plex Mono', monospace;
  } */
   #phoneNumber{
    width:300px;
    height:40px;
    border-radius:15px;
    font-family: 'IBM Plex Mono', monospace;
  }
  
  #sub{
      border-radius:5px;
      width:250px;
      height:50px;
  }
  .SocialIcon{
      /* margin: 0 15px 5px 0; */
      display:inline-block;vertical-align:top;margin-right: 3em;padding-left: 15%;
  }
  #sub{
     background-color: rgb(73, 144, 74);
     /* font-family: 'Bangers', cursive; */
  }
  
  ::-webkit-input-placeholder {
      text-align: center;
    }
    #box{
      border:5px solid;
      width:500px;
      height:700px;
      margin-left:800px;
      margin-top:150px;
      background-color: aliceblue;
   
    }
    
    a{
      color:green
    }
    input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  } 